#######################################
# Essential libraries for the project #
#######################################

# Data Manipulation and Analysis
pandas

# HTML and XML Parsing for Web Scraping
beautifulsoup4
# HTTP Requests and Web Scraping
requests

# Cryptography
cryptography

# Environment variables:
python-dotenv
